.input {
  background-color: rgb(208, 247, 234);
  padding: 5px 10px;
  border: 1px solid teal;
  width: 100px;
  word-wrap: break-word;
  text-align: center;
}

.button {
  border: 1px solid rgb(8, 8, 8);
  padding: 5px 20px;
  margin: 5px 0px;
  background-color: rgba(175, 177, 51, 0.856);
  color: white;
}

.error {
  color: red;
  padding: 2px;
  text-align: center;
}
